* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    height: 735px;
    background-image: url(./img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .link {
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
        color: #FFFFFF;
        transition: all 0.3s;

        &:hover {
            color: #888888;
            text-decoration: none;
        }
    }

    .arrow {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        .top__arrow {
            box-sizing: border-box;
            position: absolute;
            margin-top: 268px;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.2);
                filter: sepia(100%);
            }
        }
    }
}

.header {
    min-height: 76px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__input {
        width: 288px;
        height: 41px;
        border: 1px solid #fff;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;

        &::placeholder {
            color: #FFFFFF;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .menu {
        display: flex;
        gap: 32px;

        &__mobile {
            display: none;
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
            font-style: normal;
            font-weight: 400;
            color: #FFFFFF;
            transition: all 0.3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-style: normal;
    color: #FFFFFF;
    max-width: 792px;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.for {
    padding-top: 64px;

    &__content {
        margin-top: 32px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(12, 1fr);
    }

    &__item {
        display: flex;
        grid-column: span 4;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        position: relative;
        padding: 8px;

        &:hover {
            box-shadow: 5px 5px 20px 5px #888;
            transform: scale(1.05);
        }

        &_big {
            grid-column: span 6;
            max-width: 583px;
            padding: 8px;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__name {
        position: absolute;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #FFFFFF;
    }
}

.product-box {
    padding-top: 64px;
}

.product-content {
    margin-top: 32px;
    display: flex;
    column-gap: 16px;
    row-gap: 56px;
    flex-wrap: wrap;
}

.product {
    position: relative;
    max-width: 389px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    padding: 8px;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 20px 5px #888;

        .product__icons {
            display: grid;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 10px;
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        margin-top: 12px;
        margin-right: 20px;
        position: absolute;
        gap: 26px;
        display: none;

        .product__icon {
            background-color: transparent;
            border: none;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        .cart__icon {
            grid-column: 8/9;

            &:hover path {
                filter: sepia(100%);
            }
        }

        .fav__icon {
            grid-column: 9/10;

            &:hover path {
                fill: darkred;
            }
        }
    }

    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #888;
        margin-bottom: 12px;
        margin-top: 10px;
        font-weight: 400;
    }

    &-box_price {
        display: flex;
        gap: 32px;
    }

    &__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }

    &__sale {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888;
    }
}

.link-box {
    padding-top: 41px;
    padding-bottom: 64px;
    box-sizing: border-box;

    .link-go {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #000000;
        transition: all 0.3s;

        &:hover {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #888888;
            text-decoration: none;
        }
    }
}

.footer {
    background-color: #F7F6F6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__logo {
        margin-top: 32px;
        grid-column: span 4;
    }

    &__item-menu {
        grid-column: 5/7;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__item-contacts {
        grid-column: 7/9;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        font-style: normal;
        margin-top: 32px;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888;
        text-decoration: none;
        font-style: normal;
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        .footer__icon path {
            transition: all 0.3s;
        }

        .footer__icon:hover path {
            fill: #000;
        }

        .twitter path {
            fill: #888;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        grid-column: 10/-1;

        .form__text {
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 16px;
            font-style: normal;
            margin-top: 32px;
        }

        .form__email {
            background: #fff;
            border: 1px solid #c4c4c4;
            box-sizing: border-box;
            border-radius: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #000;
            width: 275px;
            height: 46px;
            padding-left: 25px;
            padding-right: 25px;
            box-sizing: border-box;
            outline: none;
            margin-bottom: 12px;

            &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: #C4C4C4;
            }
        }

        .form__button {
            background: rgba(222, 215, 215, 0.41);
            border: 1px solid #fff;
            box-sizing: border-box;
            border-radius: 20px;
            width: 275px;
            height: 46px;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            outline: none;
            margin-bottom: 40px;
            transition: all 0.3s;
            font-family: 'Montserrat', sans-serif;

            &:hover {
                animation: none;
                background: #000000;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                cursor: pointer;
            }

            animation: myAnim 4s ease 3s infinite normal forwards;
        }

        @keyframes myAnim {
            0% {
                animation-timing-function: ease-out;
                transform: scale(1);
                transform-origin: center center;
            }

            5% {
                animation-timing-function: ease-in;
                transform: scale(0.91);
            }

            9% {
                animation-timing-function: ease-out;
                transform: scale(0.98);
            }

            17% {
                animation-timing-function: ease-in;
                transform: scale(0.87);
            }

            23% {
                animation-timing-function: ease-out;
                transform: scale(1);
            }
        }
    }
}

@import "catalog";
@import "cart";

@import "tablet";
@import "mobile";